/* Large desktop */
@media (min-width: 1200px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    body {
        padding-top: 0px;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    body {
        padding-top: 0px;
    }
}


/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table.table-responsive, table.table-responsive thead, table.table-responsive tbody, table.table-responsive th,
    table.table-responsive td, table.table-responsive tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    table.table-responsive thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    table.table-responsive tr { border: 1px solid #ccc; }

    table.table-responsive td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    table.table-responsive td:before {
        border: red;
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
    */
    table.table-responsive td:nth-of-type(1):before { content: "Web Site"; }
    table.table-responsive td:nth-of-type(2):before { content: "Name"; }
    table.table-responsive td:nth-of-type(3):before { content: "Transport type"; }

    table.table-result td:nth-of-type(1) { width: auto; }
    table.table-result td:nth-of-type(3) { width: auto; }
}
