.autocompleter-header {
    margin: 0 20px 5px 20px;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
}

.footer {
    padding: 35px 0 36px;
    border-top: 1px solid #e5e5e5;
}
.footer p {
    margin-bottom: 0;
    color: #555;
}

.icon-feed {
    background: url("../images/feed-icons.png") no-repeat scroll 0 0 transparent;
    opacity: 0.65;
    width: 16px;
}

.field-label {
    font-size: 1.1em;
}

.jaccede-field-label {
    text-decoration: underline;
    padding-top: 20px;
}

.poi-name-label {
    font-size: 1.5em;
}

.toolbar {
    position: relative;
    margin: 10px 0 0 0;
}
.toggle-search-form {
    position: absolute;
    margin-left: 10px;
    text-align: right;
    right: 0;
}

.jumbotron img {
    float: left;
    margin-right: 8px;
}

span.loading img{
    height: 30px;
    width: 30px;
}

/*
Inspired by : http://css-tricks.com/responsive-data-tables/
 */
table.table-result td:nth-of-type(1) {
    width: 70px;
}
table.table-result td:nth-of-type(3) {
    width: 172px;
}

.twitter-typeahead {
    font-size: 14px;
}


.search-navbar {
    position: relative;
}
.search-navbar .btn-group {
    position: absolute;
    top: 5px;
    right: 0px;
    white-space: normal;
}

#search-form .controls {
    padding-left: 10px;
}
